/** @format */

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
